img{
    
    height: 20%;
   
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}


.bio{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    position: relative;
}

footer{
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    bottom: 0;
}
